<!DOCTYPE html>
<html ng-app="employeeApp">
<head>
    <title>ADP Coding Challenge</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-controller="gcCtrl">
    <div class="col-md-5 left">
        <div class="yellow">
            <div class="centered half-height col-xs-offset-2">
                <h1 class="col-xs-12 col-sx-offset-1">ADP Employee List</h1>
                <form ng-submit="logIn()" ng-show="!ifLoggedIn" name="logInForm">
                    <div class="form-group form-margin col-xs-10 col-xs-offset-1">
                        <label for="userName">Please Log In:</label>
                        <input type="text" class="form-control" ng-model="userName" name="userName" ng-pattern="/^[a-zA-Z0-9_]*$/" maxlength="20" title="Please do not include any special characters!" placeholder="Username" required>
                        <input type="password" ng-model="password" name="password" minlength="3" maxlength="30" class="form-control" placeholder="Password" required>
                        <button class="btn btn-lg black-btn yellow-font btn-block" type="submit">Login</button>
                    </div>
                </form>
                <form ng-submit="newEmp()" ng-show="!ifLoggedIn" name="createEmpForm">
                    <h3 class="col-xs-offset-2">Enter New Employee</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empName">Full Name:</label>
                                <input type="text" class="form-control" ng-model="emp.empName" name="empName" ng-pattern="/^[a-zA-Z_\s]*$/" maxlength="35" minlength="4" title="Please do not include any special characters!" placeholder="Employee's Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">Department:</label>
                                <input type="text" ng-model="emp.department" name="department" minlength="2" maxlength="30" ng-pattern="/^[a-zA-Z0-9_\s]*$/" class="form-control" placeholder="Department" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" ng-model="emp.title" name="title" ng-pattern="/^[a-zA-Z0-9_\s]*$/" minlength="3" maxlength="30" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address" >Street Address:</label>
                                <input type="text" ng-model="emp.address" name="address" minlength="5" maxlength="40" ng-pattern="/^[a-zA-Z0-9_\s]*$/" class="form-control" placeholder="Address" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input ng-model="emp.city" name="city" type="text" required ng-pattern="/^[a-zA-Z0-9_\s]*$/" placeholder="City" ng-minlength="3" ng-maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">State:</label>
                                <select class="col-xs-10" ng-model="emp.state" ng-options="state.abbrev for state in states" value="{{state.abbrev}}" required><option value="">-- Select State --</option></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="zipCode">Zipcode:</label>
                                <input type="text" ng-model="emp.zipCode" name="zipCode" minlength="5" maxlength="15" class="form-control" placeholder="Zipcode" ng-pattern="/^[0-9_\s]*$/" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number:</label>
                                <input type="text" ng-model="emp.phoneNumber" name="phoneNumber" minlength="10" maxlength="20" class="form-control" ng-pattern="/^[(]{0,1}[0-9]{3}[)]{0,1}[-\s\.]{0,1}[0-9]{3}[-\s\.]{0,1}[0-9]{4}$/" placeholder="Phone Number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" ng-model="emp.email"  name="email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" ng-minlength="10" class="form-control" ng-maxlength="100" required>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg black-btn yellow-font btn-block" type="submit">Enter Data</button>
                </form>
            </div>
        </div>
        <div class="black">
            <div class="centered">
                <h4 class="yellow-font col-xs-5">{{salutation}}</h4>
                <form ng-submit="getEmps()" name="getUserForm" ng-show="ifLoggedIn" class="ng-hide">
                    <div class="form-group form-margin col-xs-10 col-xs-offset-1">
                        <label class="yellow-font" for="userInput">Employee Search</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="userInput" name="userInput" ng-pattern="/^[a-zA-Z0-9_]*$/" maxlength="39" title="Please do not include any special characters!" placeholder="Username" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default yellow-btn">GO</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7 right">
        <div class="row" ng-repeat="user in results track by $index">
            <user-card user="user" index="{{$index + 1}}"></user-card>
        </div>

    </div>

<!-- Dependencies -->
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- App Files -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/services/emp.service.js"></script>
<script type="text/javascript" src="js/components/user-card.js"></script>
<script type="text/javascript" src="js/controllers/main.controller.js"></script>
</body>
</html>
