<!DOCTYPE html>
<html ng-app="employeeApp">
<head>
    <title>ADP Coding Challenge</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body ng-controller="gcCtrl">
    <div class="col-md-5 left">
        <div class="yellow"><img class="col-xs-10 col-xs-offset-1" src="css/img/logo.png" alt=""></div>
        <div class="black">
            <div class="centered">
                <form ng-submit="getUsers()" name="getUserForm">
                    <div class="form-group form-margin col-xs-10 col-xs-offset-1">
                        <label class="yellow-font" for="userInput">Employee Search</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="userInput" name="userInput" pattern="^[a-zA-Z0-9_]*$" maxlength="39" title="Please do not include any special characters!" placeholder="Username" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default yellow-btn">GO</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7 right">
        <div class="row" ng-repeat="user in results track by $index">
            <user-card user="user" index="{{$index + 1}}"></user-card>
        </div>

    </div>

<!-- Dependencies -->
<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- App Files -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/services/user.service.js"></script>
<script type="text/javascript" src="js/components/user-card.js"></script>
<script type="text/javascript" src="js/controllers/main.controller.js"></script>
</body>
</html>
