<!-- This is the HTML to be populated by the ng-repeat -->
<div ng-hide="$parent.editEmployee">
    <h2><span class="grey-font">{{$ctrl.index}}.</span>  {{$ctrl.user.empName}}</h2>
    <div class="col-md-3">
        <button ng-click="$parent.showEditForm($ctrl.index - 1)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-danger btn-xs" ng-click="$parent.deleteContact($ctrl.index - 1)"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div class="caption col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h3>Department:</h3> 
                {{$ctrl.user.department}}
            </div>
            <div class="col-md-6">
                <h3>Title:</h3> 
                {{$ctrl.user.title}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Address:</h3> 
                {{$ctrl.user.address}}
            </div>
            <div class="col-md-6">
                <h3>City:</h3> 
                {{$ctrl.user.city}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>State:</h3> 
                {{$ctrl.user.state}}
            </div>
            <div class="col-md-6">
                <h3>Zip Code:</h3> 
                {{$ctrl.user.zipCode}}    
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Email:</h3> 
                {{$ctrl.user.email}}
            </div>
            <div class="col-md-6">
                <h3>Phone Number:</h3> 
                {{$ctrl.user.phoneNumber}}
            </div>
        </div>
    </div>
</div>
